@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.box{
    transform: translate(0%, 0%);
}
.input {
    font-family: "Assistant", sans-serif;
    padding: 10px;
    width: 40px;
    height: 35px;
    font-size: 18px;
    background: none;
    border: 1px solid #17c280;
    border-radius: 50px;
    box-sizing: border-box;
    outline: none;
    transition: .5s;
}
.box:hover input{
    width: 350px;
    background: #fdfdfd;
    border-radius: 10px;
    color: black;
}
.i-busca{
    position: absolute;
    top: 50%;
    right: 15px;
    left: 14px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #292825;
    transition: .2s;
}
.box:hover .fg-buscar{
    opacity: 0;
    z-index: -1;
}


 .menu_movil{
    display: none;  
}
.Cabecera{
    padding: 3px 55px 3px 55px;
    background-color: white;
    
}
.categorias{
    display: none;
}

.nav-escritorio a{
    margin-left: 4rem;
    color: grey;
    transition: .3s;
}

.nav-escritorio ul{
    list-style: none;
}

.nav-escritorio ul li{
    margin: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
}

ul li:hover a{
    padding-left: 20px;
    color: black;
    border-left: 1px solid rgb(30, 220, 100);
}

.flex{
    display: flex;
}

.flex-col{
	flex-flow: column;
}

.justify-between{

	justify-content: space-between;
}

.justify-center{

	justify-content: center;
}

.items-center{
	align-items: center;
}

a{
    text-decoration: none;
    display: flex;
    cursor: pointer;
}

@media screen and (max-width: 820px){
    .box{
        margin-right: 7px;
    }
    .box:hover input{
        width: 200px;
        
    }
    .input{
        height: 30px;
        width: 30px;
    }
    .fg-buscar{
        left: 8px;
    }
    .Cabecera{
        margin: 1px;
        padding: 2px;
        background-color: white;
    }
    .opciones{
		margin: 13px;
        padding: 6px;
        display: none;
	}
    .seleccion{
        display: block;
        font-family: "Assistant", sans-serif;
        font-size: 17px;
        margin-top: 11px;
        margin-left: 30px;
        margin-bottom: 10px;
        border-style: none;
    }

    .seleccion option{
        border-radius: 12px;
    }

    .menu_movil{
        display: block;  
    }
    
    .nav-escritorio{
        display: none;
    }
    .categorias{
        display: block;
    }

}