body{
    font-family: sans-serif;
    background-color: #EEF0F7;;
    box-sizing: border-box;
    
    }
    /*Contenedor Slider*/
    .Estrenos{
       margin-bottom: 30px; 
    }
    .contenedorslider{
        display: flex;
        align-items: center;
        position: relative;
    }
    .peliculas{
        transition: .3s ease all;
        box-shadow: 5px5px 10px rgba(0,0,0,.3);
        margin-left: 4px;
        margin-right: 4px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .peliculas img{
        min-width: 200px;
        width: 232px;
        min-height: 300px;
        height: 250px;
        object-fit: cover;
        object-position: top;
        vertical-align: top;
    }
    .peliculas img:hover{
        transform: scale(1.1);
        transform-origin: center;
    }
    .TituloInicial{
        padding: 10px;
        margin-bottom: 10px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 1.2rem;
        color: #1a1a1a;
    }
    .informacion{
        width:94%; 
        height: 110px;
        box-shadow: 0 1px 4px -2px black;
        background-color: white;
        margin-bottom: 10px;
    
    }
    h2{
        font-size: 18px;
        margin-top: 4px;
        width: 100%;
        padding-left: 6px;
        top: 10px;
        position: relative;
    }
    .generos{
        left: 6px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 12px;
        position: relative;   
        top: 10px;
}
.generos a{
    position: relative;
    display: inline-flex;
}

    .duracion {
        font-size: 13px;
        padding-left: 2px;
        margin-left: 20px;
        position: relative;
        top: 28px;
        left: -10px;
        border-radius: 8px;
        background-color: rgba(223, 209, 234, 0.53);
        padding-top: 2.8px;
        padding-right: 4px;
        padding-bottom: 2px;
    }
        .iconos i{
        bottom:-12px;
        left: 150px;
        position: relative;
        color: #c1cdd6;
        }
        .descarga i{
        position: relative;
        bottom:3px;
        left: 180px;
        color: #c1cdd6;   
        }
      .calificacion {
            position: relative;
            top: -22px;
            color: orange;
            font-size: 18px;
            left: 70px;
            margin-right: 4px;
            margin-left: 4px;
        }

    @media screen and (max-width: 800px){

        .peliculas{
            width: 250px;
            margin-top: 10px;
        }
        .peliculas img{
            min-width: 220px;
            width: 200px;
        }
        
        .TituloInicial{
        padding: 10px;
        margin-bottom: 2px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 1.1rem;
    }
    .informacion{
        width:88%; 
        height: 96px;
    
    }
    .iconos i{
        bottom:-10px;
        left: 160px;
        }
        .descarga i{
        bottom: 6px;
        left: 190px;  
        }
        
        .calificacion {
            top: -26px;
            font-size: 17px;
            left: 80px;
            
        }
    }
    